[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = devanshrj
	email = devanshrj@outlook.com
[core]
	editor = vim
	pager = less -F -X

[alias]
	graph = log --all --graph --decorate
[pager]
	log = false
[credential]
	helper = manager-core
